.profile-container {
  font-family: Vazir;
  direction: rtl;
  text-align: right;
  width: 1440px;
  height: 2037px;
  background-color: #d9f0ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a3d5ff;
  height: 127px;
}

.nav {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-right: 30px;
}

.user-image {
  align-items: center;
  width: 50px;
  height: 50px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 66px;
}

.nav ul li a {
  color: #000000;
  font-size: 16px;
}

.arrow {
  width: 24px;
  height: 24px;
}

.logo {
  display: flex;
  font-size: 24px;
  font-weight: bolder;
  margin-left: 16px;
  color: #000000;
  align-items: center;
  gap: 6px;
}

.edit-profile-button {
  display: flex;
  gap: 15px;
  background-color: #2663cd;
  color: #ffffff;
  align-items: center;
  border-radius: 46px;
}

.page-title {
  color: #265073;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  margin-top: 13px;
  margin-right: 368px;
}

.profile-info-section {
  display: flex;
  background-color: #a4c0ed;
  border-radius: 35px;
  margin-bottom: 40px;
}

.user-profile-image {
  display: block;
  margin: 20px 23px 68px 39px;
}

.username {
  font-size: 24px;
  margin-bottom: 26px;
  color: #000000;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 19px;
  height: 63px;
}

.stat {
  background-color: #ffffff;
  width: 159px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 24px;
  font-weight: bold;
  color: #265073;
  margin-top: -8px;
  margin-bottom: -5px;
}

.label {
  color: #000000;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.reading-book {
  background-color: #a4c0ed;
  height: 241px;
  border-radius: 25px;
  margin-bottom: 46px;
  display: flex;
}

.progress-bar {
  width: 538px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 30px;
}

.progress {
  height: 100%;
  background-color: #26a541;
  border-radius: 30px;
  width: 83%;
}

.progress-percent {
  color: #000000;
  font-size: 16px;
  margin-right: 12px;
}

.writing-book {
  background-color: #a4c0ed;
  height: 241px;
  width: 619px;
  border-radius: 25px;
  margin-bottom: 116px;
  display: flex;
}
