.main-div{
    background-color: #A4C0ED;
    

}
.main-div2{
    background-color: #D9F0FF;
}

.div1{

    padding: 20px;
    font-size: large;
}

.div2{
    padding: 20px;
}

.full-width-line {
    width: 100%;
    height: 1px;
    background-color: black;

}
.button-container {
    display: flex;
    justify-content: space-between; 
}

.article1{
    margin-right: 20px;
    margin-top: 20px;
}
