.footer-container {
  font-family: Vazir;
  direction: rtl;
  text-align: right;
  width: 1440px;
  height: 376px;
  overflow: hidden;
  background-color: #a3d5ff;
  margin: 0 auto
}

.whatsapp-button {
  background-color: #a3d5ff;
  height: 40px;
  width: 40px;
  background-image: url("/photos/whatsapp_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telegram-button {
  background-color: #a3d5ff;
  height: 40px;
  width: 40px;
  background-image: url("/photos/telegram_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-button {
  background-color: #a3d5ff;
  height: 40px;
  width: 40px;
  background-image: url("/photos/instagram_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
