@import "tailwindcss";

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

body {
  /* background: radial-gradient(circle at top, #89c7ef 0%, #4db4ef 100%); */
  background-color: #d9f0ff;
}
.p-rating .p-rating-icon {
  font-size: 5rem !important;
}
@font-face {
  font-family: "Vazir";
  src: url("./fonts/Vazir-Light-FD-WOL.ttf") format("truetype");
  src: url("./fonts/Vazir-Light-FD-WOL.woff") format("woff");
  src: url("./fonts/Vazir-Light-FD-WOL.woff2") format("woff2");
}

body {
  font-family: "Vazir", sans-serif;
}

body {
  color: var(--text-color);
  font-family: "Vazir", sans-serif;
}

textarea {
  line-height: 20px;
  resize: none;
  box-sizing: border-box;
}

.scrollbar-opacity-0::-webkit-scrollbar {
  visibility: collapse;
  width: 19px;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

/* ######################## animations  ##############*/
/*  loading  */

@theme {
  --animate-wave: wave 1s ease-in-out infinite;
  @keyframes wave {
    0% {
      height: 20px;
      background-color: #001f54;
      transform: translateY(0);
    }
    25% {
      height: 90px;
      transform: translateY(-45px);
      background-color: #001f54;
    }
    50% {
      height: 20px;
      background-color: #a4c0ed;
      transform: translateY(0);
    }
    100% {
      height: 20px;
      background-color: #a4c0ed;
      transform: translateY(0);
    }
  }
}
.step {
  @apply w-[20px] h-[20px] bg-[#A4C0ED] rounded-[5px] m-[5px] animate-wave;
}

.step-1 {
  animation-delay: 0.2s;
}
.step-2 {
  animation-delay: 0.4s;
}
.step-3 {
  animation-delay: 0.6s;
}
.step-4 {
  animation-delay: 0.8s;
}
.step-5 {
  animation-delay: 1s;
}

/*  button-hover  */
@utility circle-2 {
  .circle-2 {
    overflow: hidden;
  }
  .circle-2::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: #6a4c93;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    transition: all 0.3s ease-in-out;
  }
  .circle-2:hover::before {
    width: 450px;
    height: 450px;
  }
  .circle-2 span {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease-in-out;
  }
  .circle-2:hover span {
    color: white;
  }
}

.btn {
  @apply relative overflow-hidden hover:ease-in-out hover:text-black hover:before:w-[900px] hover:before:h-[900px] before:absolute before:w-0 before:h-0 before:bg-[#4D8AFF] before:rounded-[50%] before:right-0 before:bottom-0 before:translate-[50%] before:transition-all before:duration-[0.2s] bg-[#2663CD] shadow-lg shadow-[#000]/25 text-white mx-auto mb-5 flex justify-center items-center  w-[143px] h-[38px] rounded-[46px] cursor-pointer focus:shadow-none focus:bg-[#2663CD]/90 focus:outline-none  active:bg-[#2663CD]/30 active:duration-300 active:outline-none active:ring-0 active:ring-offset-0 disabled:cursor-auto disabled:shadow-none disabled:bg-[#2663CD]/60 disabled:ring-0 disabled:ring-offset-0;
}

.span-btn {
  @apply relative z-[2] transition-colors duration-[0.2s] ease-in-out;
}
